<div class="widget">
    <p class="title">Compute a hash</p>
    <form class="hash">
        <input type="text" name="input" class="input" placeholder="openpgp4fpr:…">
        <output class="hash hash--argon2"></output>
        <output class="hash hash--bcrypt"></output>
        <output class="feedback"></output>
    </form>
</div>