<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Not Found — {{ trans(key="base_title", lang=lang) }}</title>
    <link rel="stylesheet" href="/style.css?hash={{ get_hash(path='sass/style.scss', sha_type=256) }}">
    <link rel="shortcut icon" href="/favicon.svg" type="image/svg">
</head>
<body>
    
    <div class="container">
        <header class="small-screen">
            <h1>
                <a href="/">
                    {% set image = resize_image(path="/logo_circle_1024.png", width=256, op="fit_width") %}
                    <img src="{{ image.url }}" title="Keyoxide logo" />
                    {{ trans(key="nav_title", lang=lang) }}
                </a>
            </h1>
        </header>

        <main>
            {% block content %}
                <p class="subtitle">&nbsp;</p>
                <h1>Sorry, that page no longer exists or has moved</h1>
                <p>You should be able to find what you are looking for in the navigation menu or in this list of popular pages:</p>
                <ul>
                    <li><a href="/openpgp-profiles/using-gnupg/">Creating a Keyoxide profile with GnuPG (command line)</a></li>
                    <li><a href="/openpgp-profiles/gnupg/#Adding_an_avatar">Adding an avatar to a Keyoxide OpenPGP profile</a></li>
                    <li><a href="/wiki/keyoxide/">What is Keyoxide?</a></li>
                    <li><a href="/getting-started/clients-tools/">Clients & tools</a></li>
                </ul>
            {% endblock content %}

            <footer>
                <p>
                    Content licensed under <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" rel="nofollow">CC BY-NC-SA 4.0</a>.
                    <br>
                    Last updated: {{ now(utc=true) | date(format="%Y-%m-%d %H:%M") }} UTC
                </p>
            </footer>
        </main>
        <aside>
            {% if lang == "en" %}
                {% set _section = get_section(path="_index.md") %}
            {% else %}
                {% set _section = get_section(path="_index."~lang~".md") %}
            {% endif %}
            <header class="large-screen">
                <h1>
                    <a href="/">
                        {% set image = resize_image(path="/logo_circle_1024.png", width=256, op="fit_width") %}
                        <img src="{{ image.url }}" title="Keyoxide logo" />
                        {{ trans(key="nav_title", lang=lang) }}
                    </a>
                </h1>
            </header>
            <nav>
                <a href="{{ _section.path }}">{{ _section.title }}</a>
                {% for p in _section.subsections %}
                    {% set subsection = get_section(path=p) %}
    
                    <details>
                        <summary>
                            {{ subsection.title }}
                            <span class="flex"></span>
                            <img src="/chevron-up.svg" class="collapse" alt="Collapse">
                            <img src="/chevron-down.svg" class="expand" alt="Expand">
                        </summary>
    
                        {% for page in subsection.pages %}
                            <a href="{{ page.permalink | safe }}">{{ page.title }}</a>
                        {% endfor %}
                    </details>
                {% endfor %}
            </nav>
            
        </aside>
    </div>

</body>

</html>