<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{{ trans(key="base_title", lang=lang) }}{% endblock title %}</title>
    <link rel="stylesheet" href="/style.css?hash={{ get_hash(path='sass/style.scss', sha_type=256) }}">
    <link rel="shortcut icon" href="/favicon.svg" type="image/svg">
    {% block rss %}{% endblock rss %}
</head>
<body>
    
    <header>
        <h1>
            <a href="/">
                {% set image = resize_image(path="/logo_circle_1024.png", width=64, op="fit_width") %}
                <img src="{{ image.url }}" title="Keyoxide logo" />
                {{ trans(key="nav_title", lang=lang) }}
            </a>
        </h1>
        <div class="flex"></div>
        <nav>
            <a href="https://keyoxide.org" aria-label="Keyoxide project">Project</a>
            <a href="https://blog.keyoxide.org" aria-label="Keyoxide Blog">Blog</a>
            <a href="https://codeberg.org/keyoxide" aria-label="Codeberg">
                {% set icon = load_data(path="static/codeberg.svg") %}
                {{ icon | safe }}
            </a>
            <a href="https://matrix.to/#/#keyoxide:matrix.org" aria-label="Matrix">
                {% set icon = load_data(path="static/matrix.svg") %}
                {{ icon | safe }}
            </a>
            <a href="https://fosstodon.org/@keyoxide" aria-label="Mastodon">
                {% set icon = load_data(path="static/mastodon.svg") %}
                {{ icon | safe }}
            </a>
            <a href="https://opencollective.com/keyoxide" aria-label="OpenCollective">
                {% set icon = load_data(path="static/opencollective.svg") %}
                {{ icon | safe }}
            </a>
        </nav>
    </header>

    <div class="container">
        <main>
            {% block content %}
                <p class="subtitle">&nbsp;</p>
                <h1>{{ section.title }}</h1>

                {{ section.content | safe }}
            {% endblock content %}

            <footer>
                <p class="language-selector">
                    {% if lang == "en" %}
                        {% set _section = get_section(path="_index.md") %}
                    {% else %}
                        {% set _section = get_section(path="_index."~lang~".md") %}
                    {% endif %}
                    {% for t in _section.translations %}
                        <a href="{{ t.permalink }}">{{ trans(key="language", lang=t.lang) }}</a>
                    {% endfor %}
                </p>
                <p>
                    Content licensed under <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" rel="nofollow">CC BY-NC-SA 4.0</a>.
                    <br>
                    Last updated: {{ now(utc=true) | date(format="%Y-%m-%d %H:%M") }} UTC
                </p>
            </footer>
        </main>
        <aside>
            {% if lang == "en" %}
                {% set _section = get_section(path="_index.md") %}
            {% else %}
                {% set _section = get_section(path="_index."~lang~".md") %}
            {% endif %}
            <nav>
                <a {% if current_path == _section.path %}class="active"{% endif %} href="{{ _section.path }}">{{ _section.title }}</a>
                {% for p in _section.subsections %}
                    {% set subsection = get_section(path=p) %}
    
                    <details {% if current_path is starting_with(subsection.path) %}open{% endif %}>
                        <summary>
                            {{ subsection.title }}
                            <span class="flex"></span>
                            <img src="/chevron-up.svg" class="collapse" alt="Collapse">
                            <img src="/chevron-down.svg" class="expand" alt="Expand">
                        </summary>
    
                        {% for page in subsection.pages %}
                            <a {% if current_path == page.path %}class="active"{% endif %} href="{{ page.permalink | safe }}">{{ page.title }}</a>
                        {% endfor %}
                    </details>
                {% endfor %}
            </nav>
        </aside>
    </div>

</body>

{% if page.extra.include_script_hash %}
<script src='/js/argon2.4.9.0.umd.min.js'></script>
<script src='/js/bcrypt.4.9.0.umd.min.js'></script>
<script>
    document.querySelectorAll('form.hash').forEach(async el => {
        // Prevent submitting the form
        el.addEventListener('submit', evt => {
            evt.preventDefault();
        });

        const elInput = el.querySelector('input'),
            elArgon2 = el.querySelector('output.hash--argon2'),
            elBcrypt = el.querySelector('output.hash--bcrypt'),
            elFeedback = el.querySelector('output.feedback');

        // Do something on each input event
        elInput.addEventListener('input', async evt => {
            const salt = new Uint8Array(16);
            window.crypto.getRandomValues(salt);

            try {
                const hash = await hashwasm.argon2id({
                    password: evt.target.value,
                    salt,
                    parallelism: 2,
                    iterations: 512,
                    memorySize: 64,
                    hashLength: 16,
                    outputType: 'encoded',
                });
                elArgon2.innerHTML = `<span class="detail">(argon2)</span>${hash}`;
            } catch (_) {
                elArgon2.innerHTML = '';
            }
            try {
                const hash = await hashwasm.bcrypt({
                    password: evt.target.value,
                    salt,
                    costFactor: 11,
                    outputType: 'encoded',
                });
                elBcrypt.innerHTML = `<span class="detail">(bcrypt)</span>${hash}`;
            } catch (_) {
                elBcrypt.innerHTML = '';
            }

            if (elInput.value == '') {
                elFeedback.innerHTML = '';
            } else {
                let feedbackContent = '';
                if (!(/openpgp4fpr:[0-9a-zA-Z]+/.test(elInput.value))) {
                    feedbackContent += '❗ Valid proofs must begin with <strong>openpgp4fpr:</strong>. <button class="inline" onclick="window.kx__fixHashInput();">Fix now</button>';
                }
                if (!(elInput.value === elInput.value.toLowerCase())) {
                    feedbackContent += '❗ Valid proofs must be lowercase. <button class="inline" onclick="window.kx__fixHashInput();">Fix now</button>';
                }
                elFeedback.innerHTML = feedbackContent;
            }
        });

        // Trigger an input event on load
        elInput.dispatchEvent(new Event('input'));
    });

    window.kx__fixHashInput = () => {
        const elInput = document.querySelector('form.hash .input');
        elInput.value = elInput.value.toLowerCase();

        if (!(/openpgp4fpr:[0-9a-zA-Z]+/.test(elInput.value))) {
            elInput.value = `openpgp4fpr:${elInput.value}`;
        }

        elInput.dispatchEvent(new Event("input"));
    }

</script>
{% endif %}

</html>