{% extends "index.html" %}

{% block title %}
    {{ page.title }} — {{ trans(key="base_title", lang=lang) }}
{% endblock title %}

{% block content %}
    {% set _section = get_section(path=page.ancestors | last) %}
    
    <p class="subtitle">{{ _section.title }}</p>
    <h1>{{ page.title }}</h1>
    
    {{ page.content | safe }}

    <div class="widget">
        <p class="title">Interactive claim & proof guide</p>
        <form class="guide">
            <fieldset>
                <legend>Set up the identity claim</legend>
                <label for="profile_id">Link to Keyoxide profile, fingerprint URI or WKD identifier</label>
                <input type="text" name="profile_id" id="profile_id" class="profile_id" placeholder="https://…, openpgp4fpr:…" required>
                <label for="profile_type">Type of Keyoxide profile</label>
                <select name="profile_type" id="profile_type" disabled>
                    <option value="openpgp_profile">OpenPGP profile</option>
                    <!-- <option value="automatic">Detect automatically from link below</option> -->
                    <!-- <option value="signature_profile">Signature profile</option> -->
                </select>
                <label for="tool">Tool that you use</label>
                <select name="tool" id="tool" disabled>
                    <option value="cli">Terminal/command line</option>
                    <!-- <option value="kleopatra">Kleopatra</option> -->
                </select>
                <!-- <label for="service_provider">Service provider</label>
                <select name="service_provider" id="service_provider">
                    <option value="automatic">Detect automatically from link below</option>
                </select> -->
                <label for="claim_uri">Link to the account to verify</label>
                <input type="text" name="claim_uri" id="claim_uri" class="input" placeholder="https://…" required>
                <label for="proof_type">Type of proof</label>
                <select name="proof_type" id="proof_type">
                    <option value="plaintext">Simple (plaintext)</option>
                    <option value="profile_link">Keyoxide profile link</option>
                    <option value="argon2">Hashed (argon2)</option>
                    <option value="bcrypt">Hashed (bcrypt)</option>
                </select>
                <button id="get-guide">Get guide</button>
                <output class="feedback feedback--guide"></output>
            </fieldset>
            
            <fieldset>
                <legend>Check the identity claim</legend>
                <!-- <input type="button" value="Check claim"> -->
                <button id="check-claim">Check claim</button>
                <output class="feedback feedback--check-claim"></output>
            </fieldset>
            
            <fieldset>
                <!-- <input type="text" name="input" class="input" placeholder="https://…"> -->
                <legend>Check the identity proof</legend>
                <!-- <input type="button" value="Check proof"> -->
                <button id="check-proof">Check proof</button>
                <output class="feedback feedback--check-proof"></output>
            </fieldset>
        </form>
    </div>

    <script src="/js/doip.0.17.1.min.js"></script>
    <script src='/js/argon2.4.9.0.umd.min.js'></script>
    <script src='/js/bcrypt.4.9.0.umd.min.js'></script>

    <script>
        const guideForm = document.querySelector('form.guide')
        const feedbackGuide = guideForm.querySelector('output.feedback--guide')
        const feedbackCheckClaim = guideForm.querySelector('output.feedback--check-claim')
        const feedbackCheckProof = guideForm.querySelector('output.feedback--check-proof')

        const parsedURL = new URL(window.location)
        if (parsedURL.searchParams.get('profile_id')) {
            guideForm.querySelector('#profile_id').value = parsedURL.searchParams.get('profile_id')
        }
        if (parsedURL.searchParams.get('claim_uri')) {
            guideForm.querySelector('#claim_uri').value = parsedURL.searchParams.get('claim_uri')
        }
        if (parsedURL.searchParams.get('proof_type')) {
            guideForm.querySelector('#proof_type').value = parsedURL.searchParams.get('proof_type')
        }
        
        const getInformation = async () => {
            const profile_id = guideForm.querySelector('#profile_id').value,
                tool = guideForm.querySelector('#tool').value,
                // service_provider = guideForm.querySelector('#service_provider').value,
                service_provider = 'automatic',
                claim_uri = guideForm.querySelector('#claim_uri').value,
                proof_type = guideForm.querySelector('#proof_type').value
            
            // Find information about the Keyoxide profile
            let fingerprint,
                profile_type = 'openpgp',
                profile_url,
                protocol = 'hkp'
            
            if (/openpgp4fpr:[a-z0-9]{40}/.test(profile_id.toLowerCase())) {
                fingerprint = profile_id
                profile_url = `https://keyoxide.org/hkp/${profile_id.slice(12)}`
            } else if (/[a-z0-9]{40}/.test(profile_id.toLowerCase())) {
                fingerprint = `openpgp4fpr:${profile_id}`
                profile_url = `https://keyoxide.org/hkp/${profile_id}`
            } else if (profile_id.includes('@')) {
                protocol = 'wkd'
                // Make HEAD request to Keyoxide profile
                const kx_profile_headers = await fetch(`https://keyoxide.org/wkd/${profile_id}`, {
                    method: 'HEAD'
                })
                fingerprint = kx_profile_headers.headers.get('ariadne-identity-proof')
                profile_url = `https://keyoxide.org/wkd/${profile_id}`
            } else {
                // Make HEAD request to Keyoxide profile
                const kx_profile_headers = await fetch(profile_id, {
                    method: 'HEAD'
                })
                
                if (kx_profile_headers.status < 400) {
                    fingerprint = kx_profile_headers.headers.get('ariadne-identity-proof')
                    profile_url = profile_id
                }
            }

            return {
                profile_id,
                tool,
                service_provider,
                claim_uri,
                proof_type,
                fingerprint,
                profile_type,
                profile_url,
                protocol,
            }
        }

        const getGuide = async () => {
            let feedback = ''

            let profile_id,
                tool,
                service_provider,
                claim_uri,
                proof_type,
                fingerprint,
                profile_type,
                profile_url,
                protocol
            ({ profile_id,
                tool,
                service_provider,
                claim_uri,
                proof_type,
                fingerprint,
                profile_type,
                profile_url,
                protocol } = await getInformation())

            guideForm.querySelector('button#get-guide').setAttribute('disabled', true)

            if (!fingerprint) {
                feedback += `The Keyoxide profile could not be found. Make sure the identifier you are using is correct!`
                feedbackGuide.innerHTML = feedback
                guideForm.querySelector('button#get-guide').removeAttribute('disabled')
                return
            }

            // Generate the claim in doip
            const claim = new doip.Claim(claim_uri, fingerprint.slice(12))
            claim.match()
            
            // Provide feedback about the Keyoxide profile
            feedback += `<h4>The Keyoxide profile</h4>`
            feedback += `<p>This Keyoxide profile is an <strong>OpenPGP profile</strong>.<br>`
            feedback += `<strong>Signature profiles</strong> are not supported yet by this guide.</p>`
            
            // Provide feedback about the cryptographic key
            feedback += `<h4>The cryptographic key</h4>`
            feedback += `<p>The cryptographic key is an <strong>OpenPGP</strong> key.<br>`
            switch (tool) {
                case 'cli':
                    feedback += `Here is a guide to <a href="/using-cryptography/openpgp-gnupg">set up and manage an OpenPGP key</a>.`
                    break
                case 'kleopatra':
                    feedback += `Here is a guide to <a href="/using-cryptography/openpgp-kleopatra">set up and manage an OpenPGP key</a>.`
                    break
                default:
                    break
            }
            feedback += `</p>`
            
            // Provide feedback about the claim
            feedback += `<h4>The identity claim</h4>`

            feedback += `<p>You have provided the following identity claim:<br>`
            feedback += `⮕ <span class="select-all">${claim_uri}</span><br>`

            if (claim.matches.length === 0) {
                feedback += `Keyoxide did not recognize this claim. Make sure it is correct and supported!`
                feedbackGuide.innerHTML = feedback
                guideForm.querySelector('button#get-guide').removeAttribute('disabled')
                return
            } else if (claim.matches.length === 1) {
                const sp = claim.matches[0].serviceprovider
                feedback += `This appears to be a${/[aeiouy]/.test(sp.name[0]) ? "n" : ""} <strong>${sp.name}</strong> claim.`
            } else {
                feedback += `This could be either:<br>`
                claim.matches.forEach(match => {
                    const sp = match.serviceprovider
                    feedback += `- a${/[aeiouy]/.test(sp.name[0]) ? "n" : ""} <strong>${sp.name}</strong> claim<br>`
                })
                feedback += `If this is not correct, please check the identity claim.`
            }
            feedback += `</p>`
            
            // Provide feedback about setting up the claim
            feedback += `<h4>Set up the identity claim</h4>`

            feedback += `<p>`
            switch (tool) {
                case 'cli':
                    feedback += `In a terminal on your computer, run:<br>`
                    feedback += `⮕ <span class="select-all">gpg --edit-key ${fingerprint.slice(12)}</span><br>`
                    feedback += `If your key has multiple user ids, select the most appropriate one for this claim:<br>`
                    feedback += `⮕ <span class="select-all">uid 2</span><br>`
                    feedback += `Add a new notation:<br>`
                    feedback += `⮕ <span class="select-all">notation</span><br>`
                    feedback += `Enter the notation:<br>`
                    feedback += `⮕ <span class="select-all">proof@ariadne.id=${claim_uri}</span><br>`
                    feedback += `Save the changes to the key:<br>`
                    feedback += `⮕ <span class="select-all">save</span><br>`
                    feedback += `Upload the key to the keyserver:<br>`
                    feedback += `⮕ <span class="select-all">gpg --keyserver hkps://keys.openpgp.org --send-keys ${fingerprint.slice(12)}</span><br>`
                    break

                case 'kleopatra':
                    feedback += `Kleopatra is not yet supported by this guide`
                    feedbackGuide.innerHTML = feedback
                    guideForm.querySelector('button#get-guide').removeAttribute('disabled')
                    return
                    break
            
                default:
                    feedback += `The tool ${proof_type} was not recognized. Please only use the options provided by the form!`
                    feedbackGuide.innerHTML = feedback
                    guideForm.querySelector('button#get-guide').removeAttribute('disabled')
                    return
                    break
            }
            feedback += `</p>`

            // Provide feedback about the proof
            feedback += `<h4>The identity proof</h4>`

            const salt = new Uint8Array(16)
            window.crypto.getRandomValues(salt)

            feedback += `<p>`
            switch (proof_type) {
                case 'plaintext':
                    feedback += `Use the following text as the proof in the next step:<br>`+
                        `⮕ <span class="select-all">${fingerprint}</span><br>`
                    break
                case 'profile_link':
                    feedback += `Use the following text as the proof in the next step:<br>`+
                        `⮕ <span class="select-all">${profile_url}</span><br>`
                    break
                case 'argon2':
                    try {
                        const hash = await hashwasm.argon2id({
                            password: fingerprint.toLowerCase(),
                            salt,
                            parallelism: 2,
                            iterations: 512,
                            memorySize: 64,
                            hashLength: 16,
                            outputType: 'encoded',
                        })
                        feedback += `Use the following text as the proof in the next step:<br>`+
                            `⮕ <span class="select-all">${hash}</span><br>`
                    } catch (_) {
                        feedback += `Something went wrong while generating the hash, sorry for the inconvenience.`
                    }
                    break
                case 'bcrypt':
                    try {
                        const hash = await hashwasm.bcrypt({
                            password: fingerprint.toLowerCase(),
                            salt,
                            costFactor: 11,
                            outputType: 'encoded',
                        })
                        feedback += `Use the following text as the proof in the next step:<br>`+
                            `⮕ <span class="select-all">${hash}</span><br>`
                    } catch (_) {
                        feedback += `Something went wrong while generating the hash, sorry for the inconvenience.`
                    }
                    break
            
                default:
                    feedback += `The proof type ${proof_type} was not recognized. Please only use the options provided by the form!`
                    feedbackGuide.innerHTML = feedback
                    return
                    break
            }
            feedback += `</p>`
            
            // Provide feedback about setting up the proof
            feedback += `<h4>Set up the identity proof</h4>`

            feedback += `<p>`
            if (claim.matches.length === 0) {
                feedback += `Your account link is not recognized. Please make sure it is correct!`
                feedbackGuide.innerHTML = feedback
                guideForm.querySelector('button#get-guide').removeAttribute('disabled')
                return
            } else {
                claim.matches.forEach(match => {
                    const sp = match.serviceprovider
                    feedback += `If this is a${/[aeiouy]/.test(sp.name[0]) ? "n" : ""} <strong>${sp.name}</strong> claim, follow the instructions <a href="/service-providers/${sp.name}">here</a>.<br>`
                })
            }
            feedback += `</p>`

            feedbackGuide.innerHTML = feedback
            guideForm.querySelector('button#get-guide').removeAttribute('disabled')
        }

        const checkClaim = async () => {
            let feedback = ''

            let profile_id,
                tool,
                service_provider,
                claim_uri,
                proof_type,
                fingerprint,
                profile_type,
                profile_url,
                protocol
            ({ profile_id,
                tool,
                service_provider,
                claim_uri,
                proof_type,
                fingerprint,
                profile_type,
                profile_url,
                protocol } = await getInformation())

            guideForm.querySelector('button#check-claim').setAttribute('disabled', true)

            if (!fingerprint) {
                feedback += `The Keyoxide profile could not be found. Make sure the identifier you are using is correct!`
                feedbackCheckClaim.innerHTML = feedback
                guideForm.querySelector('button#get-guide').removeAttribute('disabled')
                return
            }
            
            // Fetch data from the Keyoxide API
            let urlAPI
            switch (protocol) {
                case 'hkp':
                    urlAPI = `https://keyoxide.org/api/0/profile/fetch`+
                        `?query=${fingerprint.slice(12)}`+
                        `&doVerification=false`+
                        `&protocol=hkp`
                    break
                case 'wkd':
                    urlAPI = `https://keyoxide.org/api/0/profile/fetch`+
                        `?query=${profile_id}`+
                        `&doVerification=false`+
                        `&protocol=wkd`
                    break;
                default:
                    break
            }

            if (!urlAPI) {
                feedback = 'The guide was not sure how to check your Keyoxide profile. Is it uploaded to HPK or WKD?'
                feedbackCheckClaim.innerHTML = feedback
                guideForm.querySelector('button#check-claim').removeAttribute('disabled')
                return
            }

            const response = await fetch(urlAPI, {
                method: 'GET',
                headers: {
                    'Accept': 'application/json'
                }
            })
            console.log(response);
            const result = await response.json()

            let claimCounter = 0
            result.keyData.users.forEach(user => {
                user.claims.forEach(claim => {
                    if (claim.uri === claim_uri) {
                        claimCounter++
                    }
                })
            })

            feedback += `<p>`
            if (claimCounter === 0) {
                feedback += 'The identity claim was not found in your Keyoxide profile, please follow the guide above.'
            } else if (claimCounter === 1) {
                feedback += 'The identity claim was successfully found in your Keyoxide profile!'
            } else {
                feedback += 'The identity claim was found multiple time in your Keyoxide profile.<br>'
                feedback += 'This could be due to adding the notation to multiple user ids. It may be prudent to only add claim notations to a single user id.'
            }
            feedback += `</p>`
            feedbackCheckClaim.innerHTML = feedback
            guideForm.querySelector('button#check-claim').removeAttribute('disabled')
        }

        const checkProof = async () => {
            let feedback = ''

            let profile_id,
                tool,
                service_provider,
                claim_uri,
                proof_type,
                fingerprint,
                profile_type,
                profile_url,
                protocol
            ({ profile_id,
                tool,
                service_provider,
                claim_uri,
                proof_type,
                fingerprint,
                profile_type,
                profile_url,
                protocol } = await getInformation())
            
            guideForm.querySelector('button#check-proof').setAttribute('disabled', true)

            if (!fingerprint) {
                feedback += `The Keyoxide profile could not be found. Make sure the identifier you are using is correct!`
                feedbackCheckProof.innerHTML = feedback
                guideForm.querySelector('button#get-guide').removeAttribute('disabled')
                return
            }

            // Generate the claim in doip
            const claim = new doip.Claim(claim_uri, fingerprint.slice(12))
            claim.match()
            await claim.verify({
                proxy: {
                    hostname: 'proxy.keyoxide.org',
                    policy: 'adaptive'
                }
            })

            feedback += `<p>`
            if (!claim.verification.completed) {
                feedback += `The identity proof could not be found due to error(s): ${claim.verification.errors.join(', ')}`
            } else if (claim.verification.result) {
                feedback += 'The identity proof was successfully found!'
            } else {                
                feedback += 'The identity proof could not be found'
            }
            feedback += `</p>`
            feedbackCheckProof.innerHTML = feedback
            guideForm.querySelector('button#check-proof').removeAttribute('disabled')
        }

        guideForm.addEventListener('submit', evt => {
            evt.preventDefault();
            switch (evt.submitter.id) {
                case 'get-guide':
                    getGuide()
                    break
                case 'check-claim':
                    checkClaim()
                    break
                case 'check-proof':
                    checkProof()
                    break
                default:
                    break
            }
        })
    </script>
{% endblock content %}