{% extends "index.html" %}

{% block title %}
    {{ page.title }} — {{ trans(key="base_title", lang=lang) }}
{% endblock title %}

{% block content %}
    {% set _section = get_section(path=page.ancestors | last) %}
    <p class="subtitle">
        <a href="{{ _section.permalink }}">{{ _section.title }}</a>
    </p>
    <h1>{{ page.title }}</h1>
    
    {% if page.extra.toc %}
        {% if page.toc %}
            <div class="toc">
                <ul>
                {% for h1 in page.toc %}
                    <li>
                        <a href="{{ h1.permalink | safe }}">{{ h1.title }}</a>
                        {% if h1.children %}
                            <ul>
                                {% for h2 in h1.children %}
                                    <li>
                                        <a href="{{ h2.permalink | safe }}">{{ h2.title }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </li>
                {% endfor %}
                </ul>
            </div>
        {% endif %}
    {% endif %}

    {{ page.content | safe }}
{% endblock content %}