{% extends "index.html" %}

{% block title %}
    {{ section.title }} — {{ trans(key="base_title", lang=lang) }}
{% endblock title %}

{% block content %}
    <p class="subtitle">&nbsp;</p>
    <h1>{{ section.title }}</h1>

    {{ section.content | safe }}

    <h2>Posts</h2>
    <p>
    {% for post in section.pages %}
        <a href="{{ post.permalink }}">{{ post.title }}</a><br>
    {% endfor %}
    </p>
{% endblock content %}