{% extends "index.html" %}

{% block title %}
    {{ section.title }} — {{ trans(key="base_title", lang=lang) }}
{% endblock title %}

{% block content %}
    <p class="subtitle">&nbsp;</p>
    <h1>{{ section.title }}</h1>

    <div class="logo-links">
        {% for post in section.pages %}
            <a href="{{ post.permalink }}">
                <img src="https://design.keyoxide.org/brands/service-providers/{{ post.extra.service_provider_id }}/logo.png" alt="{{ post.title }} logo">
                {{ post.title }}
            </a>
        {% endfor %}
    </div>
{% endblock content %}