{% extends "index.html" %}

{% block title %}
    {{ page.title }} — {{ trans(key="base_title", lang=lang) }}
{% endblock title %}

{% block content %}
    {% set _section = get_section(path=page.ancestors | last) -%}
    <p class="subtitle">
        <a href="{{ _section.permalink }}">{{ _section.title }}</a>
    </p>
    <h1>{{ page.title }}</h1>

    <h2>Create the proof</h2>

    <p>
        The proof looks as follows:
        <ul>
            <li>For ASP profiles: <code>aspe:DOMAIN.TLD:FINGERPRINT</code></li>
            <li>For OpenPGP profiles: <code>openpgp4fpr:FINGERPRINT</code> or <code>NAME@DOMAIN.TLD</code></li>
            <li>The proofs above can be <a href="/wiki/identity-proof-formats/#Hashed_URI">hashed</a> for anonymity</li>
            <li>The URL to a Keyoxide profile page: <code>https://keyoxide.org/aspe:DOMAIN.TLD:FINGERPRINT</code></li>
        </ul>
    </p>

    <h3>Instructions</h3>

    {{ page.content | safe }}

    <h2>Add the claim…</h2>

    <p>The claim looks as follows:</p>

    <pre><code>{{ page.extra.claim_syntax }}</code></pre>

    {% if page.extra.claim_variables %}
        <p>Make sure to replace 
            {% for variable in page.extra.claim_variables %}{% if loop.index > 1 %}{% if loop.last %} and {% else %}, {% endif %}{% endif %}{{ variable }}{% endfor %}.
        </p>
    {% endif %}

    <h3>…to an ASP:</h3>

    <p>Follow the <a href="/asp-profiles/asp-web/#Adding_an_identity_claim">instructions provided here</a>. The claim should look like:</p>

    <pre><code>{{ page.extra.claim_syntax }}</code></pre>

    <h3>…to an OpenPGP profile:</h3>

    <p>Follow the <a href="/openpgp-profiles/gnupg/#Adding_an_identity_claim">instructions provided here</a>. The notation should look like:</p>

    <pre><code>proof@ariadne.id={{ page.extra.claim_syntax }}</code></pre>

    <h3>…to a legacy signature profile:</h3>

    <p>Follow the <a href="/guides/signature-profile-gnupg/#Adding_an_identity_claim">instructions provided here</a>. The claim should look like:</p>

    <pre><code>proof={{ page.extra.claim_syntax }}</code></pre>
{% endblock content %}